check_assignment0_public_linux.py
check_assignment0_public_altiscale.py
cs489-2016w-esnrRahman-a0-shakespeare/
data/
target/
wc/
TPC-H-0.1-TXT/


# Android Studio BS
.idea/
src/main/main.iml
bigdata2016w.iml
